* {
  box-sizing: border-box;
}

body{
	margin:0;
}

/************************************/
/* Background video for home and other pages */
#backgroundVideo{
	min-height: 100%;
	min-width: 100%;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index:-1;
}

#backgroundVideoTemp{
	min-height: 100%;
	min-width: 100%;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index:-1;
	opacity: 0.5;
}


/**************************************/
/* HEADER */
.topPart {
	max-width: 100%;
	min-width: 100%;
	height: 70px;
	background-color: #6e1e29;
	border: 2px solid white;
	position:relative;
	float:right;
	border-radius:5px;
}

#logo{
	max-height:70px;
	left:10;
	bottom:0;
	position: absolute;
}


/*  NAV BAR  */
.navBar{
	min-width:55%;
	right:10px;
	top: 13px;
	margin: 0;
	padding: 0;
	background-color: white;
	border: 1px solid black;
	border-radius:5px;
	position: relative;
	float: right;
	list-style-type: none;
	overflow: hidden;
}

.navBar a{
	color: black;
}

.navBar li {
	width: 20%;
	border-right:1px solid black;
	float: left;
}

.navBar li a {
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 10px 1px;
}

.navBar a:hover {
	background-color: rgb(110,30,41,0.7);
}

.current {
	background-color: rgb(110,30,41,0.5);
}


/********************************************************/
/* Section */
/* Welcome box Main */
.Info {
	max-width: 50%;
	min-height: 225px;
	max-height: 40%;
	margin: auto;
	text-align:center;
	padding: 10px;
	background: rgba(110,30,41,0.5);
	border: 2px solid white;
	color: #f1f1f1;
	border-radius:5px;
}


/* Picture buttons Main */
.buttonsLink{
	max-width: 80%;
	min-width: 600px;
	max-height: 40%;
	min-height: 250px;
	margin: auto;
	text-align:center;
	padding: 10px;
	background: rgba(110,30,41,0.5);
	border: 2px solid white;
	color: #f1f1f1;
	display: flex;
	border-radius:5px;
}

.buttonsLink img{
	width: 100%;
	height: 100%;
}

.mealPic {
	width: 50%;
	padding: 5px;
	position: relative;
}

.mealPic:hover .image {
	opacity: 1;
	border: 2px solid white;
	border-radius:5px;
}

.mealPic:hover .meal {
	opacity: 1;
	border: 2px solid white;
	border-radius:5px;
}

.mealDiv {
	background-color: rgb(110,30,41);
	padding: 20px 20px;
	color: white;
}

.image {
	width: 100%;
	height: auto;
	opacity: 0.3;
}

.meal {
	top: 50%;
	left: 50%;
	text-align: center;
	opacity: 0;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}




/*******************************/

/* Recipe parts*/

.recipe {
	max-width: 90%;
	min-width: 500px;
	height: 1500px;
	margin: auto;
	text-align: center;
	background: rgba(110,30,41,0.5);
	border: 2px solid white;
	color: #f1f1f1;
	position: relative;
	border-radius:5px;
}

.recipe img{
	max-height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid black;
	border-radius:5px;
}

.recipeDesc{
	max-width: 70%;
	min-width: 450px;
	margin: auto;
	text-align: center;
	background: rgba(110,30,41,1);
	border: 2px solid black;
	border-radius:5px;
}

.ingredients{
	max-width: 70%;
	min-width: 450px;
	margin: auto;
	text-align: center;
	background: rgba(110,30,41,1);
	border: 2px solid black;
	border-radius:5px;
}

.preparation{
	max-width: 70%;
	min-width: 450px;
	margin: auto;
	text-align: center;
	background: rgba(110,30,41,1);
	border: 2px solid black;
	border-radius:5px;
}

.links{
	max-width: 200px;
	text-align:center;
	background-color: rgba(110,30,41,0.3);
	border: 2px solid black;
	padding: 20px 15px;
	display: inline;
	border-radius:5px;
	margin: 3px;
}

.links a {
	color: white;
	text-decoration: none;
}

.links:hover{
	background-color: rgba(110,30,41,0.7);
	border: 2px solid white;
}

/***********************************/
/* Footer  */
.footer {
	height: 55px;
	width: 100%;
	bottom:0;
	border: 2px solid white;
	background-color: #6e1e29;
	position:fixed;
	text-align: center;
	padding: 15px 10px;
	border-radius:5px;
}

.footer a{
	color: white;
	text-decoration: none;
}
